package ${package.Entity};

import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableLogic;
import java.io.Serializable;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * file:${table.entityName}.js
 * created by Fanghonghui on ${date}
 * email:a6551142@163.com
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("sys_department")
@ApiModel(value = "SysDepartment对象" , description = "")
public class ${entity} extends Model<${entity}> {
    private static final long serialVersionUID=1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

    #if(${field.keyIdentityFlag})
    @TableId(value = "${field.name}" , type = IdType.AUTO)
    #end
## 逻辑删除注解
    #if(${logicDeleteFieldName}==${field.name})
    @TableLogic
    #end
    @ApiModelProperty(value = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
}

